/* Add fonts */

@import url(https://fonts.googleapis.com/css?family=Rubik:regular,500);
@import url(https://fonts.googleapis.com/css?family=Merriweather:900);

/* Reset */
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

a {
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

button {
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  cursor: pointer;
  color: inherit;
  background-color: transparent;
}

/* Default style */

body {
  font-family: Rubik;
  font-size: 14px;
  color: #646d70;
  line-height: 1;
}

.wrapper {
  min-height: 100%;
  overflow: clip;
  display: flex;
  flex-direction: column;
}

/* Setup adaptive */

[class*="__container"] {
  max-width: 840px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

/* Modules */

.title {
  font-family: "Merriweather", sans-serif;
  color: #fff;
  font-size: 30px;
}

.title--dark {
  color: #222f33;
}

.text {
   line-height: 1.85;
}

/* General styles */
.page {
  flex: 1 1 auto;
}

.page__main {
}

.page__materils {
}
/* Main styles */

/* Header */
.header {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 50;
}
.header__container {
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: space-between;
  padding-top: 5px;
  padding-bottom: 5px;
  min-height: 105px;
}
.header__logo {
  overflow: hidden;
}
.header__logo img {
  width: 135px;
}

.header__body {
  display: flex;
  align-items: center;
  column-gap: 43px;
}
.header__menu {
}
.header__button {
  padding: 10px 21px;
  background-color: #fff;
  border-radius: 4px;
  transition: all 0.3s;
}

.header__button:hover {
  background-color: #e0dddd;
  color: rgb(144, 174, 174);
}
.menu {
}
.menu__list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 40px;
  row-gap: 10px;
  color: #fff;
  font-weight: 500;
  font-size: 12px;
}

.menu__item {
}
.menu__link {
  transition: text-decoration 0.3s;
}
.menu__link:hover {
  text-decoration: underline;
}

@media (max-width: 39.0625em) {
  .header__container {
    min-height: 70px;
  }
  .header__body {
    column-gap: 20px;
  }
  .header__button {
    padding: 10px 15px;
  }
  .menu__list {
    column-gap: 20px;
    font-style: 14px;
  }
  .header__logo {
    flex: 0 0 33px;
  }
}

/* Main section */
.main-section {
  min-height: 100vh;
  position: relative;
  display: flex;
}
.main-section__container {
  padding-top: 90px;
  padding-bottom: 30px;
  position: relative;
  z-index: 2;
  gap: 20px;
  grid-template-columns: 54.32% 1fr; /* 27.5rem / 50.625rem */
  align-items: center;
  display: grid;
  flex: 1 1 auto;
}

@media (max-width: 43.75em) {
  .main-section__container {
    grid-template-columns: auto;
    align-content: center;
  }
}

.main-section__content {
}
.main-section__label {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
}
.main-section__label:not(:last-child) {
  margin-bottom: 12px;
}
.main-section__title {
  line-height: 1.3;
}

.main-section__video-link {
  justify-self: center;
  display: flex;
  align-items: center;
  gap: 10px;
  color: #fff;
  font-size: 12px;
  font-weight: 500;
}
.main-section__video-link::before {
  content: "";
  width: 32px;
  height: 32px;
  flex: 0 0 32px;
  background: url("../img/main/play.svg") left no-repeat;
}
.main-section__image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #000;
}

.main-section__image img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

@media (max-width: 700px) {
  .main-section__image img {
    opacity: 0.6;
  }
}

/* Materials section */

.swiper {
  overflow: hidden;
}

.swiper-wrapper {
  display: flex;
  box-sizing: content-box;
}
.swiper-slide {
  flex-shrink: 0;
}

.swiper-initialized {
  touch-action: pan-y;
}

.materials {
}
.materials__container {
  display: grid;
  grid-template-columns: 50% minmax(280px, 325px);
  justify-content: space-between;
  gap: 20px;
  align-items: start;
}
.materials__content {
  padding-top: 1.5625rem;
  display: grid;
  gap: .8125rem;
}

.materials__title{

}

.materials__text {
}
.materials__more {
  border-radius: .25rem;
  border: 1px solid #646d70;
  
}
.materials__slider {
  position: relative;
  max-width: 325px;
  /* justify-self: end; */
}
.slider-materials {
  position: relative;
}
.slider-materials__wrapper {
}
.slider-materials__slide {
  aspect-ratio: 325 / 366;
  position: relative;
}

.slider-materials__slide img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}
.slider-materials__pagination {
  display: flex;
  position: absolute;
  align-items: center;
  padding: 0 5px 16px 5px ;
  justify-content: center;
  flex-wrap: wrap;
  gap: 8px;
  bottom: 0;
  left: 0;
  width: 100%;
}

.slider-materials__pagination .swiper-pagination-bullet {
  flex: 0 0 8px;
  height: 8px;
  background-color: #fff;
  opacity: 0.4;
  border-radius: 50%;
  cursor: pointer; 
  transition: opacity 0.3s;
}

.slider-materials__pagination .swiper-pagination-bullet-active {
  opacity: 1;
}
